* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: SF Pro Display,
    sans-serif;
  overflow-x: hidden;
}

.container {
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #5B51DE;
  transition: all 0.4s ease-in-out;
}

.login a:hover {
  color: #050046;
  transition: all 0.3s ease-in-out;

}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.logo img {
  width: 40px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav ul li:not(.first) {
  padding-left: 30px;
}

/* !mobile burger */

header .burger div {
  width: 30px;
  height: 3px;
  background-color: #73737B;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

header .burger div:nth-child(2) {
  width: 20px;
}

header .burger {
  display: none;
  cursor: pointer;
}

header .burger {
  position: relative;
  z-index: 999999999999999999999999;
}

nav ul li a {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.login a {
  color: #5B51DE;
}

/* start of landing */
.landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 110% !important;
  padding: 20px 0;
  column-gap: 80px;
}

.landing .landing-left .svg {
  background-image: url(./assets/illustrations.svg);
  height: 590px;
  width: 590px;
  background-size: cover;
}


.landing .landing-right h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 80px;
  font-family: SF Pro Display,
    sans-serif;
}

.landing .landing-right p {
  text-align: left;
  width: 80%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #73737B;
  padding: 40px 0;
}

.landing .landing-right .cta {
  height: 55px;
}

.landing .landing-right .cta input {
  padding: 17px 40px;
  width: 250px;
  border: 1px solid #A6A6AB;
  border-radius: 7px;
  position: relative;
  background-image: url(./assets/icon.svg);
  background-repeat: no-repeat;
  background-position: 13px center;
  font-weight: 400;
  font-size: 16px;
  outline: none;
  border-width: 1px;
  transition: border-width .5s ease,
    border-color .5s ease;
}

.landing .landing-right .cta input:focus {
  border-style: solid;
  transform-origin: center;
  border-color: #5B51DE;
  border-width: 1px;
}

.landing .landing-right .cta .btn {
  font-weight: 400;
  font-size: 16px;
  padding: 17px 20px;
  width: 141px;
  height: 100%;
  background: #5B51DE;
  border-radius: 7px;
  color: #FFF;
  transition: all 0.3s ease-in-out;

}

.landing .landing-right .cta .btn:hover {
  background-color: #2013d1;
}

.landing .landing-right .cta .btn:active {
  background-color: #0b0197;
}


/* ?media queries */
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* end of small */

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    min-height: 90px;
  }
}

@media (max-width: 600px) {

  body {
    overflow-x: hidden;
  }

  .landing .landing-left .svg {
    height: 290px;
    width: 290px;
  }
  header nav,
  header .login {
    display: none;
  }

  header .burger {
    display: block;
  }

  header {
    flex-direction: row;
  }

  .landing {
    flex-direction: column;
  }

  .landing-right {
    text-align: center;
  }

  .landing-right h1 {
    font-size: 30px !important;
    line-height: 1.4 !important;

  }

  .landing-right p {
    font-size: 20px !important;
    width: 100% !important;
    text-align: center !important;
  }

  .landing-right .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto !important;
  }

  .landing-right .cta .btn {
    margin: 10px 0;
    width: 90% !important;
  }

  .landing-right .cta .email {
    width: 90% !important;
    margin: 10px 0;
  }


}